Body {

background-color: #E6CCA9;
}
h1
{
	color: #9D5C0D;
	font-size: 75px
}
p {
	color:#402218;
	font-size: 20px
}
h3 {
	color: #483434;
	font-size: 25px
}
td {
	color: #9D5C0D;
}
li {
	color: #533535;
}
a {
	color: #533535;
}

